/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #080 }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #800 }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { padding: 2px; border: 1px solid #888 }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }


/*.com {
    color: #93A1A1;
}
.lit {
    color: #195F91;
}
.pun, .opn, .clo {
    color: #93A1A1;
}
.fun {
    color: #DC322F;
}
.str, .atv {
    color: #268BD2;
}
.kwd, .tag {
    color: #195F91;
}
.typ, .atn, .dec, .var {
    color: #CB4B16;
}
.pln {
    color: #666;
}
.prettyprint {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 9px;
}
ol.linenums {
    margin: 0 0 0 40px;
}
ol.linenums li {
    border-radius: 2px 2px 2px 2px;
    color: rgba(0, 0, 0, 0.15);
    line-height: 20px;
    padding: 0 5px;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
}
.prettyprint-dark {
    background-color: #1D1F21;
    border: 0 none;
    padding: 10px;
}
.prettyprint-dark .linenums li {
    color: #444444;
}
.prettyprint-dark .linenums li:hover {
    background-color: #282A2E;
}
.prettyprint-dark .kwd, .prettyprint-dark .tag {
    color: #CC6666;
}
.prettyprint-dark .typ, .prettyprint-dark .atn, .prettyprint-dark .dec, .prettyprint-dark .var {
    color: #DE935F;
}
.prettyprint-dark .str, .prettyprint-dark .atv {
    color: #B5BD68;
}*/
