<div class="alert alert-success">
	<a href="##" class="close" data-dismiss="alert">×</a>
	<h4 class="alert-heading">Note</h4>
	This page is currently up to date. If you find a bug or have feedback please report it at <a href="mailto:&#101;&#114;&#114;&#111;&#114;&#064;&#099;&#111;&#100;&#101;&#097;&#114;&#116;&#046;&#099;&#104;">&#101;&#114;&#114;&#111;&#114;&#064;&#099;&#111;&#100;&#101;&#097;&#114;&#116;&#046;&#099;&#104;</a>
</div>