<div class="alert alert-info">
	<a href="##" class="close" data-dismiss="alert">×</a>
	Please use the code documentation for more information. <a href="?project=<cfoutput>#request.url.project#&page=doc</cfoutput>">Documentation</a>
</div>