<cfsavecontent variable="request.sidebar"><cfoutput>
	<h3>Download</h3>
</cfoutput></cfsavecontent>

<cfsavecontent variable="request.content">
	<cfinclude template="../object/editalert.cfm">

	<cftry>
		<cfinclude template="../../../user_data/content/#request.project.prefix#/#request.url.page#/index.cfm">
		<cfcatch type="missingInclude">
			<cfinclude template="../object/notfound.cfm">
		</cfcatch>
	</cftry>
</cfsavecontent>