<cfsavecontent variable="request.sidebar"><cfoutput>

</cfoutput></cfsavecontent>

<cfsavecontent variable="request.content"><cfoutput>
	<cfinclude template="../object/startpage.cfm">
</cfoutput></cfsavecontent>
