<!--- <h3>CAdmin Demo</h3>
<p>Link to the Cadmin demo instance <a href="http://demo.codeart.ch/cadmin/client01" target="_blank">Link</a></p>
<p><strong>Zugangsdaten</strong></p>
<ul>
	<li>Benutzernamen: admin</li>
	<li>Passwort: admin_demo01</li>
</ul>

		
<h3>CAdmin Frontend Demo</h3>	
<p>Link to the Cadmin frontend demo instance <a href="http://demofrontend.codeart.ch/" target="_blank">Link</a> --->