<cfif application.config.editMode>
	<cfoutput>
		<div class="toolbar">
			<a href="?#request.url.call#&amp;add=true" class="add">Add content</a>
			<a href="?#request.url.call#&amp;edit=true" class="edit">Edit content</a>
		</div>
		<div class="clear"></div>
	</cfoutput>
</cfif>