<h3>User Manual</h3>
<div id="userManual">
	<p>You can download the user manual below:</p>
	<ul>
		<li><span class="label">PDF</span> <a href="user_data/media/C3F3 Manual.pdf">User Manual (German)</a></li>
	</ul>
</div>