﻿/*
Name:		content.css
Zweck:		Layout Styles
Ersteller:	Codeart SL
=============================
*/

/*	General	*/
body {
	padding-top:100px;
	padding-bottom: 40px;
}
.clear {
	clear:both;
}
a {
	outline:none!important;
}
li {
	list-style: none;
}
pre.nospace {
	white-space: normal;
}

h5 {
	line-height:36px;
}


/*	Wrapper	*/
.top-wrap {

}
.top-wrap .brand {
	width:150px;
	height:20px;
	padding-left:70px;
	background:url("../../img/caicon.png") no-repeat 20px 5px;
}
.main-wrap {

}
.main-wrap .row-fluid .spancustom1 {
	width:20%;
	min-width:250px;
}
.main-wrap .row-fluid .spancustom2 {
	width:75%;
	min-width:500px;
}

/* Top Bar */
.dropdown .dropdown-menu {
	display:none;
}

/*	Content	*/
.sidebar .package-expand {
	display:block;
	float:left;
	padding:0 10px 0 18px;
	background-image:url("../../img/icons/expand_all.gif");
	background-repeat:no-repeat;
}
.sidebar .package-collapse {
	display:block;
	float:left;
	padding:0 10px 0 18px;
	background-image:url("../../img/icons/collapse_all.gif");
	background-repeat:no-repeat;
}
.sidebar ul {
	margin:0;
}
.sidebar li {
	margin:6px 0;
	color:#404040;
	padding-left:25px;
	line-height:16px;
}
.sidebar nav {
	margin:20px 0;
	overflow-x: auto;
}
.sidebar nav .disable,
.sidebar nav .disable:hover {
	color:#404040;
	font-weight:bold;
	text-decoration:none;
	cursor:default;
}
.sidebar nav.package li.node.plusimageapply {
	background-image:url("../../img/icons/package_add.png"),url("../../img/border.jpg");
	background-repeat:no-repeat,repeat-y;
	background-position:top left,7px 0px;
}
.sidebar nav.package li.node.minusimageapply {
	background-image:url("../../img/icons/package_delete.png"),url("../../img/border.jpg");
	background-repeat:no-repeat,repeat-y;
	background-position:top left,7px 0px;
}
.sidebar nav.package li.page {
	background-image:url("../../img/icons/page_white_code.png");
	background-repeat:no-repeat;
}
.sidebar nav.package li.global {
	background-image:url("../../img/icons/page_white_code_red.png");
	background-repeat:no-repeat;
}
.sidebar nav.package li.empty {
	background-image:url("../../img/icons/exclamation.png");
	background-repeat:no-repeat;
}

.sidebar nav.document li.node.plusimageapply {
	background-image:url("../../img/icons/folder_add.png"),url("../../img/border.jpg");
	background-repeat:no-repeat,repeat-y;
	background-position:top left,7px 150px;
}
.sidebar nav.document li.node.minusimageapply {
	background-image:url("../../img/icons/folder_delete.png"),url("../../img/border.jpg");
	background-repeat:no-repeat,repeat-y;
	background-position:top left,7px 0px;
}
.sidebar nav.document li.page {
	background-image:url("../../img/icons/page_white.png");
	background-repeat:no-repeat;
}
.sidebar nav.document li.empty {
	background-image:url("../../img/icons/exclamation.png");
	background-repeat:no-repeat;
}



.content.guide li,
.content.manual li,
.content.demo li,
.content.download li {
	list-style:disc;
}

.content .hero-unit h1{
	font-size:36px;
	color:#BFBFBF;
}
.content .point-left {
	background:url("../../img/icons/resultset_previous.png") 0px;
	background-repeat:no-repeat;
	padding:5px 5px 5px 20px;
}

.content .toolbar {
	float:right;
	margin-bottom:10px;
}
.content .toolbar a.add {
	background:url("../../img/icons/note_add.png") 0px 10px;
	background-repeat:no-repeat;
	font-size: 14px;
	padding:10px 10px 10px 25px;
}
.content .toolbar a.edit {
	background:url("../../img/icons/note_edit.png") 0px 10px;
	background-repeat:no-repeat;
	font-size: 14px;
	padding:10px 10px 10px 25px;
}

.content #information .breadcrumb .label:last-child {
	margin-right:20px;
}
.content #information > dl {
	float:left;
	border:1px solid #EEE;
    border-radius:3px 3px 3px 3px;
	min-height:120px;
	min-width:300px;
	padding: 20px;
	margin-right:30px;
}
.content #information dd > ul {
	margin:0;
	padding:0;
}
.content #information ul li {
	margin:6px 0;
	color:#404040;
	padding-left:25px;
	line-height:16px;
}
.content #information ul li.page {
	background-image:url("../../img/icons/page_white_code.png");
	background-repeat:no-repeat;
}
.content #information ul li.global {
	background-image:url("../../img/icons/page_white_code_red.png");
	background-repeat:no-repeat;
}



.content #properties .extends_breadcrumb {
	float:left;
}
.content #properties .extends_breadcrumb .title {
	float:left;
	margin:6px 10px 6px 0;
	font-weight:bold;
}
.content #properties .extends_breadcrumb ul {
	float:left;
	margin:0;
}
.content #properties .extends_breadcrumb ul li {
	float:left;
	margin:6px 10px 6px 0;
	padding-left:25px;
	line-height:16px;
}
.content #properties .extends_breadcrumb ul li.page {
	background-image:url("../../img/icons/page_white_code.png");
	background-repeat:no-repeat;
}
.content #properties .extends_breadcrumb ul li.global {
	background-image:url("../../img/icons/page_white_code_red.png");
	background-repeat:no-repeat;
}
.content #properties .setting {
	float:right;
	padding:10px 0 10px 10px;
}
.content #properties .icon {
	width:16px;
}
.content #properties .name {
	width:15%;
}
.content #properties .flags {
	width:150px;
}
.content #properties .open {
	background-image:url("../../img/icons/arrow_right.png");
	background-repeat:no-repeat;
	height:16px;
	width:16px;
}
.content #properties .close {
	background-image:url("../../img/icons/arrow_down.png");
	background-repeat:no-repeat;
	height:16px;
	width:16px;
	opacity:1;
}
.content #properties code {
	color:black;
 	background-color:#FFF;
    border:1px solid rgba(0, 0, 0, 0.15);
    border-radius:3px 3px 3px 3px;
    display:block;
    font-size:12px;
    line-height:18px;
    padding:5px 10px;
}


.content #methods .extends_breadcrumb {
	float:left;
}
.content #methods .extends_breadcrumb .title {
	float:left;
	margin:6px 10px 6px 0;
	font-weight:bold;
}
.content #methods .extends_breadcrumb ul {
	float:left;
	margin:0;
}
.content #methods .extends_breadcrumb ul li {
	float:left;
	margin:6px 10px 6px 0;
	padding-left:25px;
	line-height:16px;
}
.content #methods .extends_breadcrumb ul li.page {
	background-image:url("../../img/icons/page_white_code.png");
	background-repeat:no-repeat;
}
.content #methods .extends_breadcrumb ul li.global {
	background-image:url("../../img/icons/page_white_code_red.png");
	background-repeat:no-repeat;
}
.content #methods .setting {
	float:right;
	padding:10px 0 10px 10px;
}
.content #methods .icon {
	width:16px;
}
.content #methods .name {
	width:15%;
}
.content #methods .return {
	width:80px;
}
.content #methods .flags {
	width:150px;
}
.content #methods .show-grid [class*="span"] {
    background:none repeat scroll 0 0 #EEEEEE;
    border-radius:3px 3px 3px 3px;
    line-height:25px;
    min-height:25px;
    padding:2px 10px;
    margin:2px 0px 2px 30px;
    text-align:left;
}
.content #methods .open {
	background-image:url("../../img/icons/arrow_right.png");
	background-repeat:no-repeat;
	height:16px;
	width:16px;
}
.content #methods .close {
	background-image:url("../../img/icons/arrow_down.png");
	background-repeat:no-repeat;
	height:16px;
	width:16px;
	opacity:1;
}
.content #methods code {
 	background-color:#FFF;
    border:1px solid rgba(0, 0, 0, 0.15);
    border-radius:3px 3px 3px 3px;
    display:block;
    font-size:12px;
    line-height:18px;
    padding:5px 10px;
}
.content #methods .detail {
	padding:10px 20px 20px 20px;
}
.content #methods .detail:hover {
	background: #FFF;
}
.content #methods .inherited td {
	background: #FFF;
}
.content #methods .detail .hint {
	background-image:url("../../img/icons/information.png");
	background-repeat:no-repeat;
	margin:6px 0 6px 10px;
	padding-left:25px;
	line-height:16px;
}
.content #methods .detail .roles {
	background-image:url("../../img/icons/group.png");
	background-repeat:no-repeat;
	margin:6px 0 6px 10px;
	padding-left:25px;
	line-height:16px;
}


/* Bootstrap Bug */
.content #methods .detail .param .span3 {
	margin-left:40px;
}
.content #methods .detail .param .span3,
.content #methods .detail .param .span8 {
	float:left;
}


.content #methods .detail .returntype {
	background-image:url("../../img/icons/arrow_undo.png");
	background-repeat:no-repeat;
	margin:6px 0 6px 10px;
	padding-left:25px;
	line-height:16px;
}
.content #methods code span {
	margin:-2px;
	padding:0px;
}
.content #methods code span.type {
	color: #999;
}

