.com {
    color: #93A1A1;
}
.lit {
    color: #195F91;
}
.pun, .opn, .clo {
    color: #93A1A1;
}
.fun {
    color: #DC322F;
}
.str, .atv {
    color: #268BD2;
}
.kwd, .tag {
    color: #195F91;
}
.typ, .atn, .dec, .var {
    color: #CB4B16;
}
.pln {
    color: #666;
}
.prettyprint {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 9px;
}
ol.linenums {
    margin: 0 0 0 40px;
}
ol.linenums li {
    border-radius: 2px 2px 2px 2px;
    color: rgba(0, 0, 0, 0.15);
    line-height: 20px;
    padding: 0 5px;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
}
.prettyprint-dark {
    background-color: #1D1F21;
    border: 0 none;
    padding: 10px;
}
.prettyprint-dark .linenums li {
    color: #444444;
}
.prettyprint-dark .linenums li:hover {
    background-color: #282A2E;
}
.prettyprint-dark .kwd, .prettyprint-dark .tag {
    color: #CC6666;
}
.prettyprint-dark .typ, .prettyprint-dark .atn, .prettyprint-dark .dec, .prettyprint-dark .var {
    color: #DE935F;
}
.prettyprint-dark .str, .prettyprint-dark .atv {
    color: #B5BD68;
}
